@media screen and (max-width: 780px) {
    #header ul {
        display: none;
    }

    #header .header-icon {
        display: block;
    }
    
    .card_2-3 {
        flex-direction: column;
    }

    .strategic_img,
    .app_img {
        width: 100%;
        text-align: center;
    }

    #section_4 .row .col {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    #header ul {
        display: none;
    }
    
    #section_1 > .container > .row > .col {
        width: 100%;
    }

    .card .card-img,
    .card .card-text {
        width: 100%;
        text-align: center;
    }

    #section_4 .row .col {
        width: 100%;
    }

    #section_5 .about_text, 
    #section_5 .about_img {
        width: 100%;
        text-align: center;    
    }
}