@media screen and (max-width: 780px) {
    
    /* HEADER */
    #header ul {
        display: none;
    }

    #header .header-icon {
        display: block;
    }
    
    /* SECTION 1 */
    .card_2-3 .card-left {
        width: 100%;
    }

    .card_2-3 .card-right img {
        width: 100%;
    }

    #section_1 .col .card_1-3,
    #section_1 .col .card_2-3 {
        min-height: 429px;
    }

    /* SECTION 2 */
    .strategic_img,
    .app_img {
        width: 100%;
        text-align: center;
    }

    /* SECTION 4 */
    #section_4 .row .col {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    
    /* HEADER */
    #header ul {
        display: none;
    }
    
    /* SECTION 1 */
    #section_1 > .container > .row > .col {
        width: 100%;
    }

    .col .card,
    .col .card_2-3 {
        padding: 2rem 1rem;
    }

    .col .card-right {
        width: 100%;
    }

    .card_2-3 .card-right img {
        width: 100%;
        bottom: -4px;
        padding-top: 0;
    }

    .card .card-img,
    .card .card-text {
        width: 100%;
        text-align: center;
    }

    #section_1 .col .card_1-3 {
        min-height: auto;
    }

    /* SECTION 4 */
    #section_4 .row .col {
        width: 100%;
    }

    #section_5 .about_text, 
    #section_5 .about_img {
        width: 100%;
        text-align: center;    
    }
}