/* UTILS */

:root {
    --secondary-color: #0084FD;
    --card-color: #B5DDFF;
    --primary-color: #9792E4;
    --free-color: #FDC15F;
    --footer-color: #333333;
}

/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 30px;
}

/* HEADER */

#header {
    background-color: var(--secondary-color);
    height: 80px;
}

#header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container nav {
    color: white;
}

/* ! MAIN */


