/* UTILS */

:root {
    --secondary-color: #0084FD;
    --card-color: #B5DDFF;
    --primary-color: #9792E4;
    --free-color: #FDC15F;
    --footer-color: #333333;
}

/* GENERICS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER */

#header {
    background-color: var(--secondary-color);
    height: 80px;
    margin-bottom: 3rem;
}

#header .container {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container nav {
    color: white;
}

/* ! MAIN */

/*  SECTION 1 */

#section_1 .row {
    width: 100%;
    margin-right: -30px;
    display: flex;
    flex-wrap: wrap;
}

#section_1 .col {
    width: calc(100% / 3);
    padding: 1rem;
}

#section_1 .col:first-child {
    width: calc(100% / 3 * 2);
}

.card_2-3 {
    display: flex;
}

.card-left,
.card-right {
    width: 50%;
}

#section_1 .card,
#section_1 .card_2-3 {
    width: 100%;
    background-color: var(--card-color);
    
    /* DEBUG */
    height: 100px;
}

/* SECTION 2 */

#section_2 {
    background-color: var(--primary-color);
    
    /* DEBUG */
    height: 300px;
}

#section_2 .container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app_img {
    align-self: flex-end;
}




